/*-------------------------
#.site-glossary-area
--------------------------*/
.site-glossary-area {
    .single-glossary {
        margin-bottom: 10rem;
        .glossary-icon {
            margin-bottom: 3rem;
            height: 9.3rem;
            img {
                max-width: 9rem;
            }
        }
        h3 {
            margin-bottom: 1rem;
            font-size: 3.6rem;
            text-transform: uppercase;
            color: var(--primary-color);
        }
        p {
            max-width: 27rem;
            margin: 0 auto;
            font-family: $titleFont;
            font-size: 1.8rem;
            line-height: 1.3;
            color: var(--black);
        }
    }
}
@media (max-width: 991px) {
    .site-glossary-area .single-glossary {
        margin-bottom: 5rem;
    }
    .site-glossary-area .single-glossary .glossary-icon {
        margin-bottom: 2rem;
        height: 7rem;
    }
    .site-glossary-area .single-glossary .glossary-icon img {
        max-width: 7rem;
    }
}
@media (max-width: 575px) {
    .site-glossary-area .single-glossary .glossary-icon {
        height: auto;
    }
    .site-glossary-area .single-glossary h3 {
        font-size: 3.2rem;
    }
}